<html>
	<head th:replace="~{base :: head}"></head>
	<body>
		<div th:replace="~{base :: logo}"></div>
		
		<div class="container">
			<div th:replace="~{base :: titulo('Novo Pedido')}"></div>
			
			<div class="card mt-3">
			<form th:object="${requisicaoNovoPedido}" class="card-body" action="/pedido/novo" method="POST" >
				<div class="form-group">
					<label for="nomeProduto">Produto</label>
					<input th:field="*{nomeProduto}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="nome do produto" />
					<smal>Informe qual o nome do produto.</smal>
					<div th:errors="*{nomeProduto}" class="invalid-feedback"></div>
				</div>
				
				<div class="form-group">
					<label for="urlProduto">Url</label>
					<input th:field="*{urlProduto}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="url do produto" />
					<smal>Procure um site ou produto que vocé deseja e cole a url da página aqui.</smal>
					<div th:errors="*{urlProduto}" class="invalid-feedback"></div>
				</div>
				
				<div class="form-group">
					<label for="urlImagem">Imagem</label>
					<input th:field="*{urlImagem}" th:errorclass="is-invalid" class="form-control" type="text" name="urlImagem" placeholder="url da imagem" />
					<smal>Copie a url de uma boa imagem do produto e cole aqui para ajudar conseguir compradores.</smal>
					<div th:errors="*{urlImagem}" class="invalid-feedback"></div>
				</div>
				
				<div class="form-group">
					<label for="descricao">Descricao</label>
					<textarea th:field="*{descricao}" class="form-control" type="text" placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>					
				</div>
				
				<input type="submit" class="btn btn-primary" value="Salvar" />
			</form>
			</div>
		</div>
	</body>
</html>