<html>
	<head>
		<meta charset="utf-8"/>
		<title>Home</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<div class="jumbotron mb-0">
				<h1 class="display-4">Novo Pedidos</h1>
			</div>
			
			<form action="/pedido/novo" method="POST" >
				<div>
					<label for="nomeProduto">Produto</label>
					<input type="text" name="nomeProduto" placeholder="nome do produto" />
					<smal>Informe qual o nome do produto.</smal>
				</div>
				
				<div>
					<label for="urlProduto">Url</label>
					<input type="text" name="urlProduto" placeholder="url do produto" />
					<smal>Procure um site ou produto que você deseja e cole a url da página aqui.</smal>
				</div>
				
				<div>
					<label for="urlImagem">Imagem</label>
					<input type="text" name="urlImagem" placeholder="url da imagem" />
					<smal>Copie a url de uma boa imagem do produto e cole aqui para ajudar conseguir compradores.</smal>
				</div>
				
				<div>
					<label for="descricao">Descricao</label>
					<textarea type="text" name="descricao" placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>					
				</div>
				
				<input type="submit" class="btn btn-primary" value="Salvar" />
			</form>
			
		</div>
	</body>
</html>